# Bazel
bazel-apollo
bazel-apollo_dev
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
/Debug/

# python
*.pyc

# Eclipse IDE files
.project
.cproject
.settings
.classpath

# IntelliJ files
.idea
.DS_Store

# Vscode files
.vscode

#Subline
*.sublime-workspace


# python proto
py_proto

# Data bag
docs/demo_guide/*.bag
